body{font-family: sans-serif; font-size: 110%; background-color: ghostwhite;}

header{text-align: center; background-color: darkgrey;}

#heading{font-family: sans-serif; font-size: 110%; background-color: darkgray;}